<body>
  <div class="py-8 sm:py-32 px-8">
    <div
      class="flex flex-col max-w-3xl sm:rounded-3xl bg-slate-800 mx-auto px-2 py-6 sm:px-12 sm:py-12 items-center text-white text-center"
      style="box-shadow: 0rem 0rem 0rem 1.75rem rgb(30 41 59 / 44%)"
    >
      <img
        class="w-40 h-40 object-cover border-8 border-slate-900 rounded-full"
        src="./assets/profilepic.jpg"
        alt="Profile Photo of Ryan Stephens"
      />
      <h1
        class="text-5xl sm:text-6xl font-semibold leading-tight sm:leading-tight mt-8"
      >
        Hi, I'm <br /><span class="bold">Ryan</span>
      </h1>
      <p
        class="text-2xl sm:text-3xl font-light mt-8 leading-relaxed sm:leading-relaxed"
      >
        A software developer with a passion for sustainable solutions.
      </p>
      <div class="mt-8 max-w-lg">
        <a
          class="text-white px-6 py-4 bg-[#F9322C] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#about"
          >About</a
        >
        <a
          class="text-white px-6 py-4 bg-[#38BDF8] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#skills"
          >Skills</a
        >
        <a
          class="text-white px-6 py-4 bg-[#454886] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#ed"
          >Education</a
        >
        <a
          class="text-white px-6 py-4 bg-[#F9322C] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#blog"
          >Blog</a
        >
        <a
          class="text-white px-6 py-4 bg-pink-500 rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#contact"
          >Contact Me</a
        >
        <a
          class="text-black px-6 py-4 bg-[#EFD81D] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#projects"
          >Projects</a
        >
        <a
          class="text-white px-6 py-4 bg-[#38BDF8] rounded font-bold text-base sm:text-lg inline-block mb-3 mx-1"
          href="#todo"
          >Architecture</a
        >
      </div><a id="about"></a>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <div id="about" class="px-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase"
        >
          About
        </h2>
        <p class="text-l sm:text-xl mt-8 leading-relaxed sm:leading-relaxed">
          I came to a career in programming after 6 years of work in the solar
          PV industry. 
        </p>
      </div>
      <a id="ed"></a>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <div id="education" class="px-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase"
        >
          Education
        </h2>
        <p class="text-l sm:text-xl mt-8 leading-relaxed sm:leading-relaxed">
            MIU, APP State go here in something pretty
        </p>
      </div>
      <a id="projects"></a>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <div id="projects" class="px-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase"
        >
          Projects
        </h2>
        <div class="grid gap-4 grid-cols-1 text-center mt-8">
          <a
            href="#todo"
            class="flex flex-col justify-start max-w-xl p-4 hover:bg-slate-700 rounded"
          >
            <h2 class="text-l sm:text-xl font-bold text-left">
              Wordy Password Generator - Angular / NodeJS
            </h2>
            <p class="font-bold text-left text-violet-400 mt-4">Site Hosted on AWS</p>
          </a>
        </div>
        <div class="grid gap-4 grid-cols-1 text-center mt-8">
          <a
            href="https://github.com/rnstphns/cs472_homepage"
            class="flex flex-col justify-start max-w-xl p-4 hover:bg-slate-700 rounded"
          >
            <h2 class="text-l sm:text-xl font-bold text-left">
              First homepage for Web Application Programming class
            </h2>
            <p class="font-bold text-left text-violet-400 mt-4">Github repo</p>
          </a>
        </div>
        <div class="grid gap-4 grid-cols-1 text-center mt-8">
          <a
            href="https://github.com/rnstphns/CS425-SWE-Lab10-eRegistrar"
            class="flex flex-col justify-start max-w-xl p-4 hover:bg-slate-700 rounded"
          >
            <h2 class="text-l sm:text-xl font-bold text-left">
              eRegistrar application written in SpringBoot
            </h2>
            <p class="font-bold text-left text-violet-400 mt-4">Github repo</p>
          </a>
        </div>
        <div class="grid gap-4 grid-cols-1 text-center mt-8">
          <a
            href="https://github.com/rnstphns/Game-Shack-Hut"
            class="flex flex-col justify-start max-w-xl p-4 hover:bg-slate-700 rounded"
          >
            <h2 class="text-l sm:text-xl font-bold text-left">
              eCommerce storefront built collaboratively for Software Engineering course
            </h2>
            <p class="font-bold text-left text-violet-400 mt-4">Github repo</p>
          </a>
        </div>
      </div>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <a id="skills"></a>
      <div id="skills" class="bpx-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase"
        >
          Skills
        </h2>
        <p>Java, JavaScript, Etc</p>
        <p></p>
      </div>
      <a id="blog"></a>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <div id="posts" class="px-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase p-4"
        >
          Blog Posts
        </h2>
        <div class="grid gap-4 grid-cols-1 text-center mt-8">
          <a
            href="#"
            class="flex flex-col justify-start max-w-xl p-4 hover:bg-slate-700 rounded"
          >
            <h2 class="text-xl sm:text-2xl font-bold text-left">
              Deploying full-stack web apps to AWS
            </h2>
            <p class="font-bold text-left text-violet-400 mt-4">Read More</p>
          </a>
        </div>
      </div>
      <a id="contact"></a>
      <div class="border-b-2 border-dotted border-white w-full mt-8"></div>
      <div id="contact" class="bpx-2 sm:px-12 mx-auto w-full mt-8">
        <h2
          class="text-xl sm:text-2xl font-semibold text-violet-300 tracking-widest uppercase"
        >
          Contact Me
        </h2>
        <app-contact-form></app-contact-form>
      </div>
      <div id="socials" class="flex flex-row mt-4 mb-4 mx-auto">
        <a href="https://github.com/rnstphns" class="px-4"
          ><img src="../assets/GitHub-Mark-32px.png" alt="Github"
        /></a>
        <a
          href="https://www.linkedin.com/in/ryan-stephens-57b558b8/"
          class="px-4"
          ><img src="../assets/In-Blue-34.png" alt="Linkedin"
        /></a>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span>
      Ryan Stephens &copy; 2022 ~ Design Template by
      <a href="https://tailwindsites.com/" class="text-[#38BDF8]"
        >Tailwind Sites</a
      >
    </span>
  </footer>
</body>
